VITE_FIREBASE_API_KEY=AIzaSyBeG7uirpSS3N0I48fy7WqJa_SSrb8A-48
VITE_FIREBASE_AUTH_DOMAIN=cuiaba-01617931-f126e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cuiaba-01617931-f126e
VITE_FIREBASE_STORAGE_BUCKET=cuiaba-01617931-f126e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=797115279316
VITE_FIREBASE_APP_ID=1:797115279316:web:f229366de16d4e066e1841
